//=============================================================================
// COLORS
//=============================================================================

$background:                #f5f5f5;
$mine:                      #333333;
$silver:                    #b3b3b3;
$water:                     #2d95e3;
$white:                     #ffffff;
$black:                     #000000;


//=============================================================================
// TYPOGRAPHY
//=============================================================================

@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,600,400italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

$title:                     'Source Sans Pro', sans-serif;
$text:                      'Vollkorn', Georgia, serif